:root {
    --clr-dark: #3c2f2f;
    --clr-accent: #b68863;
    --clr-main: #8f5c4d;
    --clr-light: #f0dab7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 98%;
    height: 98%;
    margin: 0 auto;
    /* border: 10px solid var(--clr-light); */
}

.item {
    width: 150px;
    height: 150px;
    padding: 1em;
    font-weight: 700;
    background-color: var(--clr-main);
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.game {
    display: flex;
    flex-grow: 1;
    
    height: 100%;
    background-color: var(--clr-dark);
}

.board {
    display: flex;
    flex-grow: 1;
    height: 100%;
    border: 0;
    flex-wrap: wrap;
    justify-content: center;
}

#board-object {
    display: flex;
    flex: 1;
    max-height: 100%;
    max-width: 100%;
}

.info {
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;
    background-color: var(--clr-dark);
}

.history {
    display: flex;
    flex-grow: 1;
    background-color: var(--clr-accent);
    border: 5px solid var(--clr-accent);
    border-radius: 0;
    height: 50%;
    max-width: 300px;
}

.log {
    display: flex;
    flex-grow: 1;
    min-width: 250px;
    border: 5px solid var(--clr-accent);
    border-radius: 0;
    height: 50%;
}